<title>CSCI Login System
    <% if(typeof page !== 'undefined') { %>
    | <%= page %>
    <% } %>
</title>
<meta charset="utf-8"/>
<% if (typeof menuId !== 'undefined') { %>
    <meta name="active-menu" content="<%= menuId %>"/>
<% } %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./stylesheets/style.css">