<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CSCI Login System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="registerNav" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="instructionsNav" href="/html/instructions.html">Instructions</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="signOutLink" href="#" style="display:none;" onclick="signOut();">Sign out</a>
            </li>
        </ul>
    </div>
</nav>