<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js?onload=initButton" async defer></script>
<script src="./javascripts/menu.js"></script>

<script>
  function signOut() {
    gapi.auth2.getAuthInstance().disconnect().then(function () {
      reset();
    });
  }

  function onSuccess(googleUser) {
    const id_token = googleUser.getAuthResponse().id_token;
    $('#inputGoogleId').val(id_token);
    $('#inputName').val(googleUser.getBasicProfile().getName());
    $('#inputEmail').val(googleUser.getBasicProfile().getEmail());
    $('#inputSubmit').attr('disabled', false);
    $('#signOutLink').show();
  }

  function reset() {
    $('#inputGoogleId').val('');
    $('#inputName').val('');
    $('#inputEmail').val('');
    $('#inputSubmit').attr('disabled', true);
    $('#signOutLink').hide();
  }

  function onFailure(error) {
    console.log(error);
    reset();
  }

  function initButton() {
    gapi.load('auth2', function () {
      // Ready.
      gapi.auth2.init({
        client_id: '<%= googleClientId %>',
        hosted_domain: 'unca.edu'
      }).then(googleAuth => {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }).catch(error => {
        $('#messageContainer').append(
          '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
          '<strong>' + error.error + '</strong>: ' + error.details +
          '  <button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
          '    <span aria-hidden="true">&times;</span>' +
          '  </button>' +
          '</div>'
        );
      })
    });
  }
</script>