<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3">
    <h3>
        <% if (typeof page !== 'undefined') {
            page
        } %>
    </h3><br>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <div id="messageContainer">
                <% if(typeof messages !== 'undefined') { %>
                <% messages.forEach(function(message) { %>
                <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
                    <%= message.text %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% }); %>
                <% } %>
            </div>
        </div>
    </div>
    <%- body %>
</div>
</body>
<% include partials/script %>
</html>
