<div class="row text-center">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">
        <form method="POST" action="/register">
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <div class="p-1">
                        <div id="my-signin2" class="text-center"></div>
                    </div>
                </div>
                <small id="googleHelp" class="form-text text-muted">Sign in with Google to authenticate.</small>
            </div>
            <input type="hidden" id="inputGoogleId" name="googleId" required/>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp"
                       placeholder="Name" required readonly>
                <small id="nameHelp" class="form-text text-muted">Your name is loaded automatically after logging in.
                </small>
            </div>
            <div class="form-group">
                <label for="inputName">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp"
                       placeholder="Email" required readonly>
                <small id="emailHelp" class="form-text text-muted">Your email is loaded automatically after logging in.
                </small>
            </div>
            <div class="form-group">
                <label for="inputPassword">New Password</label>
                <input type="password" required class="form-control" name="password" id="inputPassword"
                       aria-describedby="passwordHelp"
                       placeholder="New password">
                <small id="passwordHelp" class="form-text text-muted">Your new password used for all CS machines.
                </small>
            </div>
            <div class="form-group">
                <label for="inputPasswordRepeat">New Password Confirmation</label>
                <input type="password" required class="form-control" name="passwordRepeat" id="inputPasswordRepeat"
                       aria-describedby="passwordRepeatHelp"
                       placeholder="New password again">
                <small id="passwordRepeatHelp" class="form-text text-muted">Retype your password for confirmation.
                </small>
            </div>
            <button type="submit" id="inputSubmit" disabled class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
